@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
    background-color: #81a0db;
    color: black;
}

.apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.apresentacao__conteudo {
    width: 815px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulopai {
    font-size: 48px;
    text-align: center;
    margin: 2% 10%;
    background-color: #4191db;
    color: black;
    width: 600px;
    border: 5px double black;
    border-radius: 16px;
    padding: 10px 0;
}

.apresentacao__conteudo__titulopai:hover {
    margin: 2% 10%;
    background-color: black;
    color: #4191db;
    width: 600px;
    border: 5px double #4191db;
    border-radius: 16px;
    padding: 10px 0;
    text-align: center;
    font-size: 48px;
    text-decoration: none;
    transition: 0.5s;
}

.apresentacao__conteudo__titulofilho {
    font-size: 36px;
    color: black;
    text-align: center;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    text-align: justify;
}

.sitesexternos {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.apresentacao__links__subtitulo {
    font-size: 24px;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    gap: 32px;
    .imagem {
        align-items: center;
        width: 70%;
        height: 70%;
        gap: 40px
    }
}

.apresentacao__links__link {
    border: 5px solid #0c79db;
    color: black;
    width: 280px;
    border-radius: 16px;
    padding: 21.5px 0;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
}

.apresentacao__links__link:hover {
    background-color: black;
    color: #0c79db;
    width: 280px;
    border-radius: 16px;
    padding: 21.5px 0;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

.imagem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    height: 10%;
    gap: 40px
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #4191db;
    color: black;
    border: 5px double black;
    border-radius: 16px;
    height: 60px;
    padding: 0,5%;
    text-align: center;
    font-size: 20px;
}

.icones__icon {
    color: black;
}